# ignore Mac system files
.DS_Store

# ignore Jupyter Notebook checkpoints
.ipynb_checkpoints

# ignore old files
old/

# ignore all model checkpoints except for best model
!training/models/
training/models/*
!training/models/model2/
training/models/model2/*
!training/models/model2/model2_step_119803.pt.zip
!training/models/model2/model2-training-log.txt

# ignore NodeJS modules
node_modules/

# ignore non-zipped model checkpoint file (for translation server)
model2_step_119803.pt
